@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);

body {
  background: #999;
  padding: 40px;
  font-family: "Open Sans Condensed", sans-serif;
}

$shadow1 : 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$shadow2 : 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$shadow3 : 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$shadow4 : 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$shadow5 : 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

*, *:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: white;
	display: flex;
	padding: 20px;
	min-height: 100vh;
	position: relative;
	flex-direction: column;
	justify-content: center;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: #a06060;
	background: linear-gradient(130deg, #a06060 20%, #aaa 100%) no-repeat center center fixed;
}
.box {
	width: 100%;
	margin: auto;
	padding: 10px;
	max-width: 400px;
	border-radius: 2px;
	box-shadow: $shadow2;
	background-color: rgba(0,0,0,0.2);
}

h1 {
	font-weight: 100;
	letter-spacing: 1px;
	margin: 10px 0 20px 10px;
}

.input-group {
	font-size: 22px;
	padding: 5px 10px;
	padding-top: 30px;
	position: relative;
	border-radius: 2px;
	margin-bottom: 10px;
	box-shadow: $shadow1;
	background-color: rgba(0,0,0,0.1);

	input {
		width: 100%;
		border: none;
		outline: none;
		display: block;
		font-weight: 300;
		letter-spacing: 1px;
		background-color: transparent;

		&:focus,
		&.active {
			+ label {
				top: 5px;
				left: 5px;
				font-size: 16px;
			}
		}
	}

	label {
		top: 30px;
		left: 10px;
		opacity: 0.7;
		font-weight: 100;
		position: absolute;
		letter-spacing: 2px;
		pointer-events: none;
		transition: all 0.2s ease-in;
	}
}

input[type="submit"] {
	border: none;
	float: right;
	outline: none;
	padding: 10px;
	font-weight: 300;
	border-radius: 2px;
	letter-spacing: 1px;
	box-shadow: $shadow1;
	text-transform: uppercase;
	background-color: rgba(255,255,255,0.2);
	transition: all 0.2s ease-in;

	&:hover,
	&:focus {
		box-shadow: $shadow3;
	}
}
